.componentEvents {
	padding: 150px 50px;

	.title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 80px;

		h2 {
			text-transform: uppercase;
			font-weight: 300;
		}

		.control {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;

			span {
				transition: transform 0.1s ease-in-out;

				&:active {
					transform: scale(0.95);
				}
			}
		}
	}

	.itemsWrapper {
		overflow: hidden;
		width: 100%;
	}

	.items {
		display: flex;
		gap: 10px;
		transition: transform 0.5s ease-in-out;
	}

	.item {
		flex: 0 0 calc(33.33333% - 10px);
		border: 1px solid #000000;
		box-sizing: border-box;

		.picture {
			height: 589px;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			span {
				display: block;
				padding: 4px 14px;
				border-radius: 200px;
				position: absolute;
				top: 20px;
				left: 20px;
				font-size: 16px;
				font-weight: 600;
				line-height: 24px;
				text-transform: uppercase;
				color: white;
				background-color: #ec008c;
			}
		}

		.description {
			display: flex;
			flex-direction: column;
			padding: 20px 15px;
		}

		.titleContainer {
			h4 {
				font-size: 20px;
				font-weight: 400;
				line-height: 28px;
				text-transform: uppercase;
				margin-bottom: 10px;
				color: inherit;
			}
		}

		p {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			color: #818181;
			margin-bottom: 10px;
		}

		.subtitleContainer {
			.arrow {
				width: 100%;
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}

@media (max-width: 1090px) {
	.componentEvents {
		.title {
			h2 {
				font-size: 60px;
				margin-bottom: 20px;
			}
		}
		.items {
			.item {
				flex: 0 0 calc(50% - 10px);
			}
		}
	}
}

@media (max-width: 768px) {
	.componentEvents {
		padding: 70px 50px;

		.title {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 20px;
		}

		.items {
			.item {
				flex: 0 0 calc(100% - 10px);
			}
		}
	}
}

@media (max-width: 480px) {
	.componentEvents {
		.title {
			h2 {
				font-size: 40px;
			}
		}
	}
}
