.bannerTitle {
	height: 700px;
	margin-top: -110px;
	padding-top: 110px;
	color: white;
	background-image: url("./../../../assets/images/Home/HomeBG.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@media (max-width: 480px) {
		height: auto;
	}
	.container {
		padding: 80px 50px 20px;
		@media (max-width: 768px) {
			padding: 40px 20px;
		}
		.title {
			margin-bottom: 20px;
			@media (max-width: 1024px) {
				font-size: 60px;
				line-height: 80px;
			}
			@media (max-width: 480px) {
				font-size: 30px;
				line-height: 34px;
			}
			span {
				&:first-of-type {
					font-weight: 600;
				}

				&:last-of-type {
					font-weight: 200;
				}
			}
		}

		.subTitle {
			text-transform: uppercase;
			font-weight: 300;
			@media (max-width: 480px) {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}
