.otherDirections {
	margin: 100px 50px;
	@media (max-width: 640px) {
		margin: 70px 20px;
	}

	.container {
		.title {
			display: flex;
			justify-content: space-between;
			margin-bottom: 60px;
			@media (max-width: 640px) {
				margin-bottom: 30px;
				gap: 30px;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			h2 {
				text-transform: uppercase;
				font-weight: 300;
				@media (max-width: 1024px) {
					font-size: 60px;
					line-height: 70px;
				}
				@media (max-width: 768px) {
					font-size: 40px;
					line-height: 60px;
					text-align: center;
				}
			}

			.control {
				display: flex;
				align-items: end;
				justify-content: flex-end;
				gap: 10px;

				span {
					transition: transform 0.1s ease-in-out;

					&:active {
						transform: scale(0.95);
					}
				}
			}
		}

		.itemsWrapper {
			overflow: hidden;
		}

		.items {
			display: flex;
			gap: 20px;
			transition: transform 0.5s ease-in-out;
		}

		.item {
			flex: 0 0 calc(50% - 10px);
			height: 440px;
			display: flex;
			justify-content: space-between;
			border: 1px solid #393939;
			cursor: pointer;
			@media (max-width: 1024px) {
				flex: 0 0 100%;
			}
			@media (max-width: 640px) {
				height: auto;
			}

			&.blackBackground {
				background-color: black;
			}

			&.whiteBackground {
				background-color: white;
			}

			.description {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 40px;
				@media (max-width: 480px) {
					padding: 10px;
				}

				div {
					h3 {
						text-transform: uppercase;
						@media (max-width: 480px) {
							font-size: 20px;
							line-height: 24px;
						}
					}
					@media (max-width: 480px) {
						p {
							font-size: 16px;
							line-height: 20px;
						}
					}
				}
			}

			.picture {
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	.blackText {
		color: black;
	}

	.whiteText {
		color: white;
	}

	.darkGreyText {
		color: #393939;
	}
}
