.container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	padding: 10px;
	.submitButton {
		width: 550px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 10px;
		gap: 5px;
		background-color: black;
		color: white;
		border: none;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 400;
		line-height: 34px;
		border: 1px solid white;
		@media (max-width: 480px) {
			font-size: 20px;
			line-height: 25px;
		}
	}
}
