.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 110px;
	background-color: transparent;
	z-index: 10;
	padding: 0px 50px;
	@media (max-width: 480px) {
		padding: 0px 20px;
	}
}

.logo {
	h5 {
		letter-spacing: 2px;
	}
	@media (max-width: 1280px) {
		img {
			width: 100px;
		}
		h5 {
			font-size: 12px;
		}
	}
}
.address {
	text-align: right;
	@media (max-width: 1280px) {
		h4 {
			font-size: 20px;
		}
		h5 {
			font-size: 14px;
		}
	}
	@media (max-width: 768px) {
		h4 {
			font-size: 14px;
		}
		h5 {
			display: none;
		}
	}
	@media (max-width: 480px) {
		display: none;
	}
}
.social {
	display: flex;
	gap: 5px;
	span {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48px;
		height: 48px;
		border: 1px solid white;
		@media (max-width: 1280px) {
			transform: scale(0.8);
		}
	}
	@media (max-width: 1280px) {
		gap: 2px;
	}
	@media (max-width: 768px) {
		display: none;
	}
}
// Условие location.pathname

.homeHeader {
	color: white;
	border-bottom: 1px solid white;
	.social {
		span {
			border: 1px solid white;
		}
	}
}

.aboutContactHeader {
	color: black;
	border-bottom: 1px solid gray;
	.social {
		span {
			border: 1px solid gray;
		}
	}
}

.classesHeader {
	color: white;
	border-bottom: 1px solid white;
	.social {
		span {
			border: 1px solid white;
		}
	}
}
