@import "variables.scss";

// Центрирует содержимое контейнера по горизонтали и вертикали с помощью Flexbox.  @include flex-center;
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Устанавливает адаптивный размер шрифта, высоту строки и толщину шрифта для заголовков.  @include responsive-text(24px, 1.5, 700);
@mixin responsive-text(
	$font-size,
	$line-height,
	$font-weight: $font-weight-base
) {
	font-family: $font-family-base;
	font-size: $font-size;
	line-height: $line-height;
	font-weight: $font-weight;
}

// Применяет осветление или затемнение цвета в зависимости от процента, для создания оттенка. @include apply-tint-shade(#3498db, 20%);
@mixin apply-tint-shade($color, $percentage) {
	color: mix(white, $color, $percentage);
}

// Добавляет лёгкую тень к элементу, что делает его более объёмным. @include box-shadow("light");
@mixin box-shadow($shadow-type: "medium") {
	@if $shadow-type == "light" {
		box-shadow: $box-shadow-light;
	} @else if $shadow-type == "medium" {
		box-shadow: $box-shadow-medium;
	}
}

// Обеспечивает плавные переходы для свойств, указанных в параметрах, например, изменения цвета.  @include transition(color);
@mixin transition($properties: all) {
	transition: $properties 0.3s ease-in-out; // Установлена фиксированная продолжительность перехода
}

// Устанавливает цвета фона и текста, соответствующие общей теме проекта. @include theme-colors(#f4f4f4, #333);
@mixin theme-colors(
	$bg: $primary-background-color,
	$text: $primary-text-color
) {
	background-color: $bg;
	color: $text;
}

// Добавляет закруглённые углы к элементу. @include border-radius(12px);
@mixin border-radius($radius: 4px) {
	// Установлен фиксированный радиус границы
	border-radius: $radius;
}

// Обрезает текст с многоточием для фиксированной ширины элемента. @include text-ellipsis;
@mixin text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

// Изменяет свойства элемента в зависимости от медиазапросов, например, для адаптации на мобильных устройствах. @include media("md") { .... }
@mixin media($breakpoint) {
	// Для очень маленьких устройств (телефоны)
	@if $breakpoint == "xs" {
		@media (max-width: 575px) {
			@content;
		}

		// Для маленьких устройств (телефоны в ландшафтной ориентации)
	} @else if $breakpoint == "sm" {
		@media (max-width: 767px) {
			@content;
		}

		// Для средних устройств (планшеты)
	} @else if $breakpoint == "md" {
		@media (max-width: 991px) {
			@content;
		}

		// Для больших устройств (настольные компьютеры)
	} @else if $breakpoint == "lg" {
		@media (max-width: 1199px) {
			@content;
		}

		// Для очень больших устройств (крупные настольные компьютеры)
	} @else if $breakpoint == "xl" {
		@media (max-width: 1399px) {
			@content;
		}

		// Для очень-очень больших устройств (еще более крупные настольные компьютеры)
	} @else if $breakpoint == "xxl" {
		@media (max-width: 1600px) {
			@content;
		}

		// Предупреждение в случае неверно указанного брейкпойнта
	} @else {
		@warn "Неизвестный брейкпойнт: #{$breakpoint}. Укажите корректное значение.";
	}
}
